.product {
	display: flex;
	margin-top: 23px;
	gap: 100px;
	margin-bottom: 40px;
}
.productBtnWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	margin-bottom: 24px;
}
.productImgWrapper {
	flex: 1 1;
}
.Img {
	width: 400px;
	height: 600px;
}

.buttonCount {
    border: 1px solid #cfd8dc;
    background-color: #fff;
    height: 48px;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
}

.buttonCountPlus,
.buttonCounMinus {
    border: none;
    outline: none;
    background-color: transparent;
    height: 100%;
    width: 40px;
    cursor: pointer;
    font-size: 24px;
    padding: 0;
}

.buttonCountNum {
    border: none;
    padding: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    width: 30px;
    display: inline-block;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.buttonTypePrimary {
    background-color: #FFE44D;
}

.buttonTypePrimary:hover {
    background-color: #FFAA0D;
    color: #F44336;
}